.accounts-page {
  width: 100%;
  height: 100vh;           /* full screen height */
  display: flex;
  justify-content: center; /* horizontal center */
  align-items:flex-start;     /* vertical center */
  margin-top: 100px;
}

.account {
  width: 200px;
  height: 120px;
  border: 2px solid red;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position:absolute;
  top: 1px;
  margin-top: 100px;
}

.line {
  position: absolute;
  top: 35%;               /* center vertically */
  width: 60%;
  border: none;
  border-top: 2px solid #999;
  z-index: 1;             /* behind box */
}
